# Copy this file to .env and adjust values for your environment.
PORT=5123
SERVER_PROTOCOL=https
TLS_KEY_PATH=./cert/privkey.pem
TLS_CERT_PATH=./cert/fullchain.pem
MAX_CLIENTS_PER_ROOM=30
PING_INTERVAL_MS=30000
GC=true
YPERSISTENCE=./whiteboard-data
WHITEBOARD_AUTH_SECRET=
